In [4]:
import findspark
findspark.init()
import pyspark

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark").master('local').getOrCreate()

In [5]:
sc = spark.sparkContext # for RDD

In [6]:
spark

In [7]:
from pyspark.sql.types import *
import pandas as pd

## Read file with schema

In [8]:
# We specify the correct schema by hand
schema_sdf = StructType([
        StructField('Year', IntegerType(), True),
        StructField('Month', IntegerType(), True),
        StructField('DayofMonth', IntegerType(), True),
        StructField('DayOfWeek', IntegerType(), True),
        StructField('DepTime', DoubleType(), True),
        StructField('CRSDepTime', DoubleType(), True),
        StructField('ArrTime', DoubleType(), True),
        StructField('CRSArrTime', DoubleType(), True),
        StructField('UniqueCarrier', StringType(), True),
        StructField('FlightNum', StringType(), True),
        StructField('TailNum', StringType(), True),
        StructField('ActualElapsedTime', DoubleType(), True),
        StructField('CRSElapsedTime',  DoubleType(), True),
        StructField('AirTime',  DoubleType(), True),
        StructField('ArrDelay',  DoubleType(), True),
        StructField('DepDelay',  DoubleType(), True),
        StructField('Origin', StringType(), True),
        StructField('Dest',  StringType(), True),
        StructField('Distance',  DoubleType(), True),
        StructField('TaxiIn',  DoubleType(), True),
        StructField('TaxiOut',  DoubleType(), True),
        StructField('Cancelled',  IntegerType(), True),
        StructField('CancellationCode',  StringType(), True),
        StructField('Diverted',  IntegerType(), True),
        StructField('CarrierDelay', DoubleType(), True),
        StructField('WeatherDelay',  DoubleType(), True),
        StructField('NASDelay',  DoubleType(), True),
        StructField('SecurityDelay',  DoubleType(), True),
        StructField('LateAircraftDelay',  DoubleType(), True)
    ])
air = spark.read.options(header='true').schema(schema_sdf).csv("/lifeng/student/liutuozhen/airdelay_small.csv")

In [9]:
air.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- CRSDepTime: double (nullable = true)
 |-- ArrTime: double (nullable = true)
 |-- CRSArrTime: double (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: double (nullable = true)
 |-- CRSElapsedTime: double (nullable = true)
 |-- AirTime: double (nullable = true)
 |-- ArrDelay: double (nullable = true)
 |-- DepDelay: double (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- TaxiIn: double (nullable = true)
 |-- TaxiOut: double (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: double (nullable = true)
 |-- WeatherDelay: double (nullable = true)
 |-- NASDelay: double (nullable = true)
 |-- SecurityDelay: double (nullable = true)
 |-- LateAircraftDelay: double (nullable = true)

In [10]:
air_pd = pd.read_csv("/home/student/student/liutuozhen/airdelay/airdelay_small.csv")

In [13]:
air_pd.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

## Count

In [21]:
air.count()

21/12/01 20:11:36 WARN Utils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.

5548754

In [16]:
air_pd.count()

Year                 5548754
Month                5548754
DayofMonth           5548754
DayOfWeek            5548754
DepTime              5445648
CRSDepTime           5548754
ArrTime              5432958
CRSArrTime           5548754
UniqueCarrier        5548754
FlightNum            5548754
TailNum              3771786
ActualElapsedTime    5432958
CRSElapsedTime       5547553
AirTime              3685725
ArrDelay             5432958
DepDelay             5445648
Origin               5548754
Dest                 5548754
Distance             5539053
TaxiIn               3774512
TaxiOut              3774512
Cancelled            5548754
CancellationCode       28528
Diverted             5548754
CarrierDelay         1556218
WeatherDelay         1556218
NASDelay             1556218
SecurityDelay        1556218
LateAircraftDelay    1556218
dtype: int64

## Descriptive Statistics

In [11]:
air.describe().show()

[Stage 0:===============================================>           (4 + 1) / 5]

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-------------+------------------+-------+------------------+------------------+------------------+-----------------+-----------------+-------+-------+-----------------+------------------+------------------+---------+----------------+--------+------------------+------------------+-----------------+--------------------+-----------------+
|summary|              Year|             Month|        DayofMonth|         DayOfWeek|           DepTime|       CRSDepTime|           ArrTime|        CRSArrTime|UniqueCarrier|         FlightNum|TailNum| ActualElapsedTime|    CRSElapsedTime|           AirTime|         ArrDelay|         DepDelay| Origin|   Dest|         Distance|            TaxiIn|           TaxiOut|Cancelled|CancellationCode|Diverted|      CarrierDelay|      WeatherDelay|         NASDelay|       SecurityDelay|LateAircraftDelay|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-------------+------------------+-------+------------------+------------------+------------------+-----------------+-----------------+-------+-------+-----------------+------------------+------------------+---------+----------------+--------+------------------+------------------+-----------------+--------------------+-----------------+
|  count|           1524481|           1524481|           1524481|           1524481|           1524481|          1524481|           1524481|           1524481|      1524481|           1524481|1524481|           1524481|           1524481|           1524481|          1524481|          1524481|1524481|1524481|          1524481|           1524481|           1524481|  1524481|               0| 1524481|           1524481|           1524481|          1524481|             1524481|          1524481|
|   mean|2005.2200309482375| 6.819439533847913|15.739877374660622|3.9425345412635515|1343.1007890554229|1335.312045870037|1490.5321424143692|1499.0464518744411|         null|2100.4755290489024|    0.0|124.89908893584112|126.23595243233599|102.60629092786331|7.728503667805634|9.065091660702889|   null|   null|723.8429826281863|7.4043402311999955|16.027061012895537|      0.0|            null|     0.0|3.1917360728011697|0.6896806191746568|3.555705187535955|0.025394216129948487|4.100354809276075|
| stddev|1.3298684774182634|3.3772885531435226| 8.788305183327518|1.9915258421756028|  475.476667807491|462.8261301202432|499.16257581932297| 478.3461722588969|         null|1937.4578676903254|    0.0| 70.91261333146294|  70.1171682758882| 78.48819536331371|35.41450193208645| 32.1692195863043|   null|   null|571.7621650788843|35.986895606761344|12.080643220148529|      0.0|            null|     0.0| 18.41498545167554| 8.708781309482001|15.28241309586754|   1.140672940233062|18.70428806839677|
|    min|              2003|                 1|                 1|                 1|               1.0|              3.0|               1.0|               0.0|           9E|                 1|      0|            -681.0|              16.0|           -1461.0|           -735.0|          -1197.0|    ABE|    ABE|             27.0|               0.0|               0.0|        0|            null|       0|               0.0|               0.0|            -13.0|                 0.0|              0.0|
|    max|              2007|                12|                31|                 7|            2644.0|           2359.0|            2742.0|            2359.0|           YV|               999| n816ca|            1766.0|             660.0|            1936.0|           1779.0|           1752.0|    YUM|    YUM|           4962.0|            1470.0|            1439.0|        0|            null|       0|            1665.0|             910.0|           1010.0|               382.0|           1060.0|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-------------+------------------+-------+------------------+------------------+------------------+-----------------+-----------------+-------+-------+-----------------+------------------+------------------+---------+----------------+--------+------------------+------------------+-----------------+--------------------+-----------------+

21/12/01 20:41:58 WARN Utils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.

In [14]:
air_pd.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,5.548754e+06,5.548754e+06,5.548754e+06,5.548754e+06,5.445648e+06,5.548754e+06,5.432958e+06,5.548754e+06,5.548754e+06,5.432958e+06,...,5.539053e+06,3.774512e+06,3.774512e+06,5.548754e+06,5.548754e+06,1.556218e+06,1.556218e+06,1.556218e+06,1.556218e+06,1.556218e+06
mean,1.998060e+03,6.567632e+00,1.572343e+01,3.941769e+00,1.350179e+03,1.335733e+03,1.494260e+03,1.491223e+03,1.315705e+03,1.196707e+02,...,7.001570e+02,6.464043e+00,1.509370e+01,1.858183e-02,2.287000e-03,3.126645e+00,6.756155e-01,3.483191e+00,2.487633e-02,4.016734e+00
std,5.959655e+00,3.445993e+00,8.785812e+00,1.990137e+00,4.769970e+02,4.768681e+02,4.985111e+02,4.939483e+02,1.348430e+03,6.846377e+01,...,5.504983e+02,2.409104e+01,1.112470e+01,1.350428e-01,4.776788e-02,1.823183e+01,8.620073e+00,1.513413e+01,1.128987e+00,1.852165e+01
min,1.987000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-6.810000e+02,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.300000e+01,0.000000e+00,0.000000e+00
25%,1.993000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.350000e+02,9.300000e+02,1.117000e+03,1.115000e+03,4.450000e+02,7.000000e+01,...,3.060000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.998000e+03,7.000000e+00,1.600000e+01,4.000000e+00,1.335000e+03,1.330000e+03,1.522000e+03,1.520000e+03,9.230000e+02,1.010000e+02,...,5.430000e+02,5.000000e+00,1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.003000e+03,1.000000e+01,2.300000e+01,6.000000e+00,1.739000e+03,1.730000e+03,1.918000e+03,1.913000e+03,1.671000e+03,1.510000e+02,...,9.360000e+02,7.000000e+00,1.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.007000e+03,1.200000e+01,3.100000e+01,7.000000e+00,2.644000e+03,2.400000e+03,2.742000e+03,2.400000e+03,9.899000e+03,1.766000e+03,...,4.983000e+03,1.470000e+03,1.439000e+03,1.000000e+00,1.000000e+00,1.665000e+03,9.100000e+02,1.010000e+03,3.820000e+02,1.060000e+03

In [24]:
air_pd.describe()
# pandas count 包含NA

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,5.548754e+06,5.548754e+06,5.548754e+06,5.548754e+06,5.445648e+06,5.548754e+06,5.432958e+06,5.548754e+06,5.548754e+06,5.432958e+06,...,5.539053e+06,3.774512e+06,3.774512e+06,5.548754e+06,5.548754e+06,1.556218e+06,1.556218e+06,1.556218e+06,1.556218e+06,1.556218e+06
mean,1.998060e+03,6.567632e+00,1.572343e+01,3.941769e+00,1.350179e+03,1.335733e+03,1.494260e+03,1.491223e+03,1.315705e+03,1.196707e+02,...,7.001570e+02,6.464043e+00,1.509370e+01,1.858183e-02,2.287000e-03,3.126645e+00,6.756155e-01,3.483191e+00,2.487633e-02,4.016734e+00
std,5.959655e+00,3.445993e+00,8.785812e+00,1.990137e+00,4.769970e+02,4.768681e+02,4.985111e+02,4.939483e+02,1.348430e+03,6.846377e+01,...,5.504983e+02,2.409104e+01,1.112470e+01,1.350428e-01,4.776788e-02,1.823183e+01,8.620073e+00,1.513413e+01,1.128987e+00,1.852165e+01
min,1.987000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-6.810000e+02,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.300000e+01,0.000000e+00,0.000000e+00
25%,1.993000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.350000e+02,9.300000e+02,1.117000e+03,1.115000e+03,4.450000e+02,7.000000e+01,...,3.060000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.998000e+03,7.000000e+00,1.600000e+01,4.000000e+00,1.335000e+03,1.330000e+03,1.522000e+03,1.520000e+03,9.230000e+02,1.010000e+02,...,5.430000e+02,5.000000e+00,1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.003000e+03,1.000000e+01,2.300000e+01,6.000000e+00,1.739000e+03,1.730000e+03,1.918000e+03,1.913000e+03,1.671000e+03,1.510000e+02,...,9.360000e+02,7.000000e+00,1.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.007000e+03,1.200000e+01,3.100000e+01,7.000000e+00,2.644000e+03,2.400000e+03,2.742000e+03,2.400000e+03,9.899000e+03,1.766000e+03,...,4.983000e+03,1.470000e+03,1.439000e+03,1.000000e+00,1.000000e+00,1.665000e+03,9.100000e+02,1.010000e+03,3.820000e+02,1.060000e+03

## select

In [26]:
air.select(air['UniqueCarrier'], air['ArrDelay']>0).show()

+-------------+--------------+
|UniqueCarrier|(ArrDelay > 0)|
+-------------+--------------+
|           XE|          true|
|           CO|          true|
|           AA|          true|
|           WN|         false|
|           CO|          true|
|           AA|          true|
|           DL|         false|
|           AA|          true|
|           US|          true|
|           AA|          true|
|           AS|         false|
|           UA|          true|
|           TW|         false|
|           NW|          true|
|           NW|          true|
|           AA|          true|
|           DH|          true|
|           WN|         false|
|           AA|         false|
|           CO|          true|
+-------------+--------------+
only showing top 20 rows

In [34]:
pd.concat([air_pd["UniqueCarrier"], air_pd["ArrDelay"].map(lambda x: x>0)], axis=1)

        UniqueCarrier  ArrDelay
0                  XE      True
1                  CO      True
2                  AA      True
3                  WN     False
4                  CO      True
...               ...       ...
5548749            WN      True
5548750            WN      True
5548751            AA      True
5548752            NW     False
5548753            UA     False

[5548754 rows x 2 columns]

## Group and sort

In [11]:
aircount=air.groupBy("UniqueCarrier").count()
aircount.sort("count",ascending=False).show()

21/12/01 19:44:04 WARN Utils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.
[Stage 3:================================================>      (175 + 3) / 200]

+-------------+------+
|UniqueCarrier| count|
+-------------+------+
|           DL|765388|
|           WN|703368|
|           AA|684522|
|           US|649056|
|           UA|611957|
|           NW|473820|
|           CO|373858|
|           TW|179081|
|           HP|173509|
|           MQ|164790|
|           AS|129863|
|           OO|120223|
|           XE| 94311|
|           EV| 67148|
|           OH| 60630|
|           FL| 47540|
|           EA| 43723|
|           PI| 41489|
|           DH| 32900|
|           B6| 29111|
+-------------+------+
only showing top 20 rows

In [33]:
air_pd.groupby("UniqueCarrier")["UniqueCarrier"].count().sort_values(ascending=False)

UniqueCarrier
DL        765388
WN        703368
AA        684522
US        649056
UA        611957
NW        473820
CO        373858
TW        179081
HP        173509
MQ        164790
AS        129863
OO        120223
XE         94311
EV         67148
OH         60630
FL         47540
EA         43723
PI         41489
DH         32900
B6         29111
YV         28764
PA (1)     15213
9E         12203
F9         11527
HA         10228
TZ          9955
AQ          7142
PS          4059
ML (1)      3376
Name: UniqueCarrier, dtype: int64

## NA

In [20]:
air[["SecurityDelay"]].na.drop().count()

1556218

In [21]:
air_pd[["SecurityDelay"]].dropna().count()

SecurityDelay    1556218
dtype: int64

In [29]:
air[["SecurityDelay"]].na.fill(-1).show()

+-------------+
|SecurityDelay|
+-------------+
|          0.0|
|         -1.0|
|         -1.0|
|         -1.0|
|         -1.0|
|         -1.0|
|         -1.0|
|         -1.0|
|         -1.0|
|         -1.0|
|          0.0|
|         -1.0|
|         -1.0|
|         -1.0|
|          0.0|
|          0.0|
|          0.0|
|         -1.0|
|         -1.0|
|         -1.0|
+-------------+
only showing top 20 rows

In [31]:
air_pd[["SecurityDelay"]].fillna(-1)

         SecurityDelay
0                  0.0
1                 -1.0
2                 -1.0
3                 -1.0
4                 -1.0
...                ...
5548749           -1.0
5548750           -1.0
5548751            0.0
5548752           -1.0
5548753           -1.0

[5548754 rows x 1 columns]

## agg

In [43]:
air.groupBy("UniqueCarrier").max('ArrDelay').sort("max(ArrDelay)", ascending=False).show() # mus apply to a numeric column

[Stage 30:==================================>                       (3 + 1) / 5]

+-------------+-------------+
|UniqueCarrier|max(ArrDelay)|
+-------------+-------------+
|           NW|       1779.0|
|           OO|       1435.0|
|           AA|       1425.0|
|           9E|       1425.0|
|           HP|       1323.0|
|           UA|       1201.0|
|           MQ|       1082.0|
|           EV|       1029.0|
|           OH|        980.0|
|           B6|        960.0|
|           FL|        945.0|
|           CO|        939.0|
|           XE|        852.0|
|           HA|        726.0|
|           YV|        693.0|
|           AS|        683.0|
|       PA (1)|        680.0|
|           DL|        675.0|
|           US|        623.0|
|           WN|        616.0|
+-------------+-------------+
only showing top 20 rows

In [44]:
air_pd.groupby("UniqueCarrier")['ArrDelay'].max().sort_values(ascending=False)

UniqueCarrier
NW        1779.0
OO        1435.0
9E        1425.0
AA        1425.0
HP        1323.0
UA        1201.0
MQ        1082.0
EV        1029.0
OH         980.0
B6         960.0
FL         945.0
CO         939.0
XE         852.0
HA         726.0
YV         693.0
AS         683.0
PA (1)     680.0
DL         675.0
US         623.0
WN         616.0
TZ         614.0
TW         603.0
AQ         600.0
DH         553.0
EA         542.0
F9         393.0
PI         350.0
ML (1)     335.0
PS         283.0
Name: ArrDelay, dtype: float64

## filter

In [24]:
air.filter(air.ArrDelay>60).show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2007|    5|        17|        4| 1944.0|    1830.0| 2034.0|    1930.0|           AA|     1011| N3BDAA|             50.0|          60.0|   35.0|    64.0|    74.0|   MIA| MCO|   193.0|   4.0|   11.0|        0|            null|       0|        64.0|         0.0|     0.0|          0.0|              0.0|
|2004|    4|        16|        5| 1550.0|    1525.0| 1750.0|    1638.0|           XE|     2602| N15948|            120.0|          73.0|   35.0|    72.0|    25.0|   EWR| BWI|   169.0|   5.0|   80.0|        0|            null|       0|         0.0|         0.0|    51.0|          0.0|             21.0|
|2005|    7|         1|        5| 1931.0|    1723.0| 2235.0|    2017.0|           FL|      831| N978AT|            124.0|         114.0|   86.0|   138.0|   128.0|   MDW| ATL|   590.0|   9.0|   29.0|        0|            null|       0|         0.0|         0.0|    10.0|          0.0|            128.0|
|2005|   11|        22|        2| 1849.0|    1705.0| 2034.0|    1815.0|           B6|       55| N585JB|            105.0|          70.0|   56.0|   139.0|   104.0|   BTV| JFK|   267.0|   4.0|   45.0|        0|            null|       0|         0.0|         0.0|    35.0|          0.0|            104.0|
|2007|   10|        21|        7| 1725.0|    1625.0| 1837.0|    1730.0|           WN|      143| N389SW|             72.0|          65.0|   42.0|    67.0|    60.0|   LAS| LAX|   236.0|  12.0|   18.0|        0|            null|       0|         0.0|         0.0|     7.0|          0.0|             60.0|
|2005|    4|        15|        5| 1519.0|    1310.0| 1751.0|    1545.0|           AS|      631| N947AS|            152.0|         155.0|  136.0|   126.0|   129.0|   LAS| SEA|   866.0|   5.0|   11.0|        0|            null|       0|         4.0|         0.0|     0.0|          0.0|            122.0|
|2006|    1|        24|        2| 1230.0|    1115.0| 1343.0|    1228.0|           OH|     5050| N784CA|             73.0|          73.0|   50.0|    75.0|    75.0|   JFK| BOS|   187.0|   5.0|   18.0|        0|            null|       0|        75.0|         0.0|     0.0|          0.0|              0.0|
|2007|    6|        16|        6| 1525.0|    1155.0| 1636.0|    1255.0|           XE|     2317| N14933|             71.0|          60.0|   44.0|   221.0|   210.0|   LFT| IAH|   201.0|  10.0|   17.0|        0|            null|       0|         0.0|         0.0|   104.0|          0.0|            117.0|
|2006|   12|         1|        5| 1016.0|     720.0| 1226.0|     925.0|           MQ|     3484| N902BC|            190.0|         185.0|  167.0|   181.0|   176.0|   CHS| DFW|   987.0|  11.0|   12.0|        0|            null|       0|       176.0|         0.0|     5.0|          0.0|              0.0|
|2007|    8|        25|        6| 1544.0|    1430.0| 2123.0|    2015.0|           AA|     2073| N612AA|            279.0|         285.0|  256.0|    68.0|    74.0|   ORD| SJU|  2072.0|   4.0|   19.0|        0|            null|       0|        68.0|         0.0|     0.0|          0.0|              0.0|
|2006|    7|        20|        4| 1102.0|     834.0| 1445.0|    1225.0|           AA|     1652| N441AA|            163.0|         171.0|  144.0|   140.0|   148.0|   ORD| RSW|  1120.0|   2.0|   17.0|        0|            null|       0|         0.0|       140.0|     0.0|          0.0|              0.0|
|2006|    7|        23|        7| 2110.0|    1920.0| 2228.0|    2035.0|           WN|     2347|   N433|             78.0|          75.0|   57.0|   113.0|   110.0|   SNA| OAK|   371.0|   6.0|   15.0|        0|            null|       0|         0.0|         0.0|     3.0|          4.0|            106.0|
|2007|    1|        14|        7| 1110.0|     850.0| 1216.0|    1010.0|           9E|     5968| 85889E|             66.0|          80.0|   44.0|   126.0|   140.0|   MEM| STL|   256.0|   5.0|   17.0|        0|            null|       0|       126.0|         0.0|     0.0|          0.0|              0.0|
|2004|    1|        11|        7| 1530.0|    1255.0| 1815.0|    1545.0|           WN|     1405|   N630|            105.0|         110.0|   94.0|   150.0|   155.0|   OAK| PHX|   646.0|   3.0|    8.0|        0|            null|       0|       150.0|         0.0|     0.0|          0.0|              0.0|
|2007|   10|        26|        5| 1603.0|    1448.0| 1900.0|    1752.0|           UA|      270| N535UA|            117.0|         124.0|  105.0|    68.0|    75.0|   SNA| DEN|   846.0|   5.0|    7.0|        0|            null|       0|         0.0|         0.0|     0.0|          0.0|             68.0|
|2005|   10|        31|        1|  854.0|     858.0| 1136.0|    1000.0|           MQ|     3384| N852AE|            162.0|          62.0|   41.0|    96.0|    -4.0|   SJT| DFW|   228.0| 109.0|   12.0|        0|            null|       0|         0.0|         0.0|    96.0|          0.0|              0.0|
|2006|    1|         6|        5| 2200.0|    2030.0| 2320.0|    2214.0|           OH|     5830| N408CA|            140.0|         164.0|  119.0|    66.0|    90.0|   LGA| BHM|   866.0|   5.0|   16.0|        0|            null|       0|         0.0|         0.0|     0.0|          0.0|             66.0|
|2005|    6|         1|        3| 1729.0|    1610.0| 1847.0|    1740.0|           AA|     1966| N4UAAA|             78.0|          90.0|   62.0|    67.0|    79.0|   DFW| MCI|   460.0|   3.0|   13.0|        0|            null|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2007|    7|        13|        5| 1840.0|    1745.0| 2007.0|    1905.0|           EV|     4263| N879AS|            147.0|         140.0|  125.0|    62.0|    55.0|   DCA| JAN|   860.0|   6.0|   16.0|        0|            null|       0|        55.0|         0.0|     7.0|          0.0|              0.0|
|2006|    2|        26|        7| 1953.0|    1745.0| 2145.0|    1940.0|           OO|     6765| N750SK|            112.0|         115.0|   92.0|   125.0|   128.0|   DEN| TUS|   639.0|   6.0|   14.0|        0|            null|       0|       125.0|         0.0|     0.0|          0.0|              0.0|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [46]:
air_pd[air_pd.ArrDelay>60]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
15,2007,5,17,4,1944.0,1830,2034.0,1930,AA,1011,...,4.0,11.0,0,NaN,0,64.0,0.0,0.0,0.0,0.0
46,2001,5,31,4,1812.0,1650,1954.0,1825,WN,1612,...,3.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
78,1999,8,13,5,1800.0,1635,2000.0,1826,DL,965,...,10.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
96,2004,4,16,5,1550.0,1525,1750.0,1638,XE,2602,...,5.0,80.0,0,NaN,0,0.0,0.0,51.0,0.0,21.0
107,1999,8,17,2,1246.0,1135,1430.0,1310,CO,1843,...,6.0,27.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548605,2005,10,10,1,1518.0,1305,1552.0,1343,OO,6216,...,1.0,10.0,0,NaN,0,129.0,0.0,0.0,0.0,0.0
5548611,1995,3,4,6,1706.0,0,1831.0,0,AA,1087,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5548653,2000,8,20,7,1459.0,1144,1706.0,1356,UA,643,...,7.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5548677,1997,8,24,7,1030.0,922,1504.0,1403,HP,2273,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5548678,1989,10,17,2,1611.0,1430,1645.0,1450,US,532,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

## User-defined functions

In [25]:
air2_pdf = air.select(["DayOfWeek", "ArrDelay","AirTime","Distance"]).toPandas()

In [26]:
air2_pdf.head()

   DayOfWeek  ArrDelay  AirTime  Distance
0        4.0       2.0     25.0     127.0
1        7.0      29.0    248.0    1623.0
2        NaN       NaN      NaN       NaN
3        5.0      -2.0     70.0     451.0
4        7.0      11.0    133.0    1009.0

In [27]:
import pandas as pd

def myfun(pdf):
    out = dict() 
    out["ArrDelay"] = pdf.ArrDelay.mean()
    out["AirTime"]  = pdf.AirTime.mean()
    out["Distance"] = pdf.Distance.mean()
    
    return pd.DataFrame(out, index=[0])

myfun(air2_pdf)

   ArrDelay     AirTime    Distance
0  7.350591  102.688519  729.997977

In [ ]:
import pandas as pd
from pyspark.sql.functions import pandas_udf, PandasUDFType

@pandas_udf("DayOfWeek long, ArrDelay long", PandasUDFType.GROUPED_MAP)   # , AirTime long, Distance long
def myfun(pdf):
    out = dict() 
    out["ArrDelay"] = pdf.ArrDelay.mean()
#     out["AirTime"]  = pdf.AirTime.mean()
#     out["Distance"] = pdf.Distance.mean()
    return pd.Dataframe(out, index=[0])

In [29]:
air2 = air.select(["DayOfWeek","ArrDelay","AirTime","Distance"])# .filter(air.Distance<100)

In [30]:
air2.show()

+---------+--------+-------+--------+
|DayOfWeek|ArrDelay|AirTime|Distance|
+---------+--------+-------+--------+
|        4|     2.0|   25.0|   127.0|
|        7|    29.0|  248.0|  1623.0|
|     null|    null|   null|    null|
|        5|    -2.0|   70.0|   451.0|
|        7|    11.0|  133.0|  1009.0|
|        7|    13.0|  177.0|  1562.0|
|        1|   -12.0|  181.0|  1589.0|
|        3|    11.0|  364.0|  2611.0|
|        5|    13.0|   53.0|   304.0|
|     null|    null|   null|    null|
|        5|    -8.0|  293.0|  2537.0|
|     null|    null|   null|    null|
|     null|    null|   null|    null|
|        2|    55.0|  285.0|  1927.0|
|        1|    23.0|  149.0|   991.0|
|        4|    64.0|   35.0|   193.0|
|        4|    29.0|   25.0|    77.0|
|     null|    null|   null|    null|
|        7|    -6.0|   91.0|   678.0|
|        7|    35.0|  127.0|   998.0|
+---------+--------+-------+--------+
only showing top 20 rows

In [ ]:
air3.show()

In [31]:
air3 = air2.na.drop()
air3.select(["DayOfWeek", "ArrDelay"]).groupby("DayOfWeek").apply(myfun).show()

21/12/01 19:55:07 WARN TaskSetManager: Lost task 24.0 in stage 28.0 (TID 478, emr-worker-2.cluster-46968, executor 2): java.lang.IllegalArgumentException
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:334)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.readMessage(MessageSerializer.java:543)
	at org.apache.arrow.vector.ipc.message.MessageChannelReader.readNext(MessageChannelReader.java:58)
	at org.apache.arrow.vector.ipc.ArrowStreamReader.readSchema(ArrowStreamReader.java:132)
	at org.apache.arrow.vector.ipc.ArrowReader.initialize(ArrowReader.java:181)
	at org.apache.arrow.vector.ipc.ArrowReader.ensureInitialized(ArrowReader.java:172)
	at org.apache.arrow.vector.ipc.ArrowReader.getVectorSchemaRoot(ArrowReader.java:65)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

[Stage 28:>                                                       (0 + 2) / 100]21/12/01 19:55:09 ERROR TaskSetManager: Task 24 in stage 28.0 failed 4 times; aborting job
21/12/01 19:55:09 WARN TaskSetManager: Lost task 18.3 in stage 28.0 (TID 487, emr-worker-2.cluster-46968, executor 2): TaskKilled (Stage cancelled)
21/12/01 19:55:09 WARN TaskSetManager: Lost task 26.3 in stage 28.0 (TID 488, emr-worker-1.cluster-46968, executor 1): TaskKilled (Stage cancelled)

Py4JJavaError: An error occurred while calling o241.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 24 in stage 28.0 failed 4 times, most recent failure: Lost task 24.3 in stage 28.0 (TID 486, emr-worker-1.cluster-46968, executor 1): java.lang.IllegalArgumentException
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:334)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.readMessage(MessageSerializer.java:543)
	at org.apache.arrow.vector.ipc.message.MessageChannelReader.readNext(MessageChannelReader.java:58)
	at org.apache.arrow.vector.ipc.ArrowStreamReader.readSchema(ArrowStreamReader.java:132)
	at org.apache.arrow.vector.ipc.ArrowReader.initialize(ArrowReader.java:181)
	at org.apache.arrow.vector.ipc.ArrowReader.ensureInitialized(ArrowReader.java:172)
	at org.apache.arrow.vector.ipc.ArrowReader.getVectorSchemaRoot(ArrowReader.java:65)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1891)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1879)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1878)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1878)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:927)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:927)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:927)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2112)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2061)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2050)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:738)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3389)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2550)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2550)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3370)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:80)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:127)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:75)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3369)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2550)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2764)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.IllegalArgumentException
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:334)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.readMessage(MessageSerializer.java:543)
	at org.apache.arrow.vector.ipc.message.MessageChannelReader.readNext(MessageChannelReader.java:58)
	at org.apache.arrow.vector.ipc.ArrowStreamReader.readSchema(ArrowStreamReader.java:132)
	at org.apache.arrow.vector.ipc.ArrowReader.initialize(ArrowReader.java:181)
	at org.apache.arrow.vector.ipc.ArrowReader.ensureInitialized(ArrowReader.java:172)
	at org.apache.arrow.vector.ipc.ArrowReader.getVectorSchemaRoot(ArrowReader.java:65)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.read(ArrowPythonRunner.scala:122)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:410)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:255)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$24.apply(RDD.scala:858)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:346)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:310)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [24]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import Correlation

data = [(Vectors.sparse(4, [(0, 1.0), (3, -2.0)]),),
        (Vectors.dense([4.0, 5.0, 0.0, 3.0]),),
        (Vectors.dense([6.0, 7.0, 0.0, 8.0]),),
        (Vectors.sparse(4, [(0, 9.0), (3, 1.0)]),)]
df = spark.createDataFrame(data, ["features"])

In [27]:
df.show()

+--------------------+
|            features|
+--------------------+
|(4,[0,3],[1.0,-2.0])|
|   [4.0,5.0,0.0,3.0]|
|   [6.0,7.0,0.0,8.0]|
| (4,[0,3],[9.0,1.0])|
+--------------------+

In [28]:
r1 = Correlation.corr(df, "features").head()
print("Pearson correlation matrix:\n" + str(r1[0]))

21/11/14 13:43:23 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
21/11/14 13:43:23 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS

Pearson correlation matrix:
DenseMatrix([[1.        , 0.05564149,        nan, 0.40047142],
             [0.05564149, 1.        ,        nan, 0.91359586],
             [       nan,        nan, 1.        ,        nan],
             [0.40047142, 0.91359586,        nan, 1.        ]])

21/11/14 13:43:23 WARN PearsonCorrelation: Pearson correlation matrix contains NaN values.