In [1]:
util.Properties.versionString

version 2.11.12

## breeze库 类似numpy Scala的科学运算

In [2]:
import breeze.linalg._

In [3]:
val x = DenseVector.zeros[Double](5)

x = DenseVector(0.0, 0.0, 0.0, 0.0, 0.0)

DenseVector(0.0, 0.0, 0.0, 0.0, 0.0)

In [4]:
Double // Double是scala的一个对象， DenseVector是linalg库里的类

object scala.Double

## Spark的ml库(基于sdf，mllib基于rdd)

In [62]:
import org.apache.spark.ml.linalg.{Vector, Vectors}

## Spark-shell

In [1]:
spark

org.apache.spark.sql.SparkSession@4142aacc

In [7]:
val textFile = spark.read.textFile("/lifeng/student/liutuozhen/streaming/aggregate/table.csv")

textFile = [value: string]

[value: string]

In [16]:
val linesWithSpark = textFile.filter(line => line.contains("Spark"))

linesWithSpark = [value: boolean]

[value: boolean]

In [15]:
linesWithSpark.show()

+-----+
|value|
+-----+
+-----+

In [34]:
val a: Array[Int] =Array(1,2,3,4,5)
//直接遍历输出
    for (i <- a ) {
        println(i)
    }

1
2
3
4
5

a = Array(1, 2, 3, 4, 5)

Array(1, 2, 3, 4, 5)

In [39]:
def myFunc(s: String): Int = {
    val s_array =  s.split(",")
    var len = 0
    for( x <- s_array ){
        if( x != "北京" ) len += 1
    }
    return len
}
textFile.map(myFunc).collect()

myFunc: (s: String)Int

Array(2, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 3, 2, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 2, 3, 3, 3, 2, 2, 3, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 2)

In [44]:
val data = Array(1, 2, 3, 4, 5)
var counter = 0
var rdd = sc.parallelize(data)

// Wrong: Don't do this!!
rdd.foreach(x => counter += x)

data = Array(1, 2, 3, 4, 5)
counter = 0
rdd = ParallelCollectionRDD[32] at parallelize at <console>:39

ParallelCollectionRDD[32] at parallelize at <console>:39

In [43]:
counter

0

In [ ]:
import org.apache.spark.{SparkContext, SparkConf}

In [22]:
spark

org.apache.spark.sql.SparkSession@4142aacc

In [2]:
val sc = spark.sparkContext

sc = org.apache.spark.SparkContext@cbc8eef

org.apache.spark.SparkContext@cbc8eef

In [3]:
sc

org.apache.spark.SparkContext@cbc8eef

In [52]:
val data = Array(1, 2, 3, 4, 5)
val distData = sc.parallelize(data)

data = Array(1, 2, 3, 4, 5)
distData = ParallelCollectionRDD[33] at parallelize at <console>:35

ParallelCollectionRDD[33] at parallelize at <console>:35

In [35]:
// For implicit conversions from RDDs to DataFrames
// import spark.implicits._

// Create an RDD from a text file, convert it to a Dataframe
val spark_df = sc
  .textFile("/lifeng/student/liutuozhen/streaming/aggregate/table.csv")
  .map(_.split(","))
  .map(attributes => (attributes(0), attributes(2).toInt))
  .toDF()

Name: Unknown Error
Message: <console>:39: error: value toDF is not a member of org.apache.spark.rdd.RDD[org.apache.spark.sql.Row]
possible cause: maybe a semicolon is missing before `value toDF'?
         .toDF()
          ^

StackTrace:

In [12]:
spark_df.show()

+----+---+
|  _1| _2|
+----+---+
|北京|  7|
|江苏|  8|
|上海| 18|
|北京| 45|
|江苏| 77|
|江苏| 24|
|江苏| 77|
|江苏| 31|
|上海| 71|
|江苏| 57|
|上海| 72|
|浙江| 66|
|北京| 19|
|江苏|  9|
|浙江| 72|
|北京| 16|
|北京| 61|
|北京| 21|
|浙江| 29|
|上海| 34|
+----+---+
only showing top 20 rows

lastException: Throwable = null

In [13]:
spark_df.createTempView("tempDF")

In [17]:
spark.sql("SELECT * FROM tempDF").show()

+----+---+
|  _1| _2|
+----+---+
|北京|  7|
|江苏|  8|
|上海| 18|
|北京| 45|
|江苏| 77|
|江苏| 24|
|江苏| 77|
|江苏| 31|
|上海| 71|
|江苏| 57|
|上海| 72|
|浙江| 66|
|北京| 19|
|江苏|  9|
|浙江| 72|
|北京| 16|
|北京| 61|
|北京| 21|
|浙江| 29|
|上海| 34|
+----+---+
only showing top 20 rows

In [40]:
spark_df.toJSON.collect()

Array({"_1":"北京","_2":7}, {"_1":"江苏","_2":8}, {"_1":"上海","_2":18}, {"_1":"北京","_2":45}, {"_1":"江苏","_2":77}, {"_1":"江苏","_2":24}, {"_1":"江苏","_2":77}, {"_1":"江苏","_2":31}, {"_1":"上海","_2":71}, {"_1":"江苏","_2":57}, {"_1":"上海","_2":72}, {"_1":"浙江","_2":66}, {"_1":"北京","_2":19}, {"_1":"江苏","_2":9}, {"_1":"浙江","_2":72}, {"_1":"北京","_2":16}, {"_1":"北京","_2":61}, {"_1":"北京","_2":21}, {"_1":"浙江","_2":29}, {"_1":"上海","_2":34}, {"_1":"浙江","_2":26}, {"_1":"江苏","_2":30}, {"_1":"江苏","_2":65}, {"_1":"浙江","_2":66}, {"_1":"北京","_2":38}, {"_1":"上海","_2":37}, {"_1":"上海","_2":75}, {"_1":"上海","_2":36}, {"_1":"上海","_2":18}, {"_1":"北京","_2":76}, {"_1":"上海","_2":61}, {"_1":"北京","_2":29}, {"_1":"江苏","_2":46}, {"_1":"北京","_2":23}, {"_1":"江苏","_2":45}, {"_1":"上海","_2":59}, {"_1":"浙江","_2"...